* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei',
    arial, STHeiTi, sans-serif;
  background-color: #f5f6fa;
  color: #222222;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
  outline: none;
}

.round {
  border-radius: 1000rpx;
}

.radius {
  border-radius: 6rpx;
}

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.basis-xs {
  flex-basis: 20%;
}

.basis-sm {
  flex-basis: 40%;
}

.basis-df {
  flex-basis: 50%;
}

.basis-lg {
  flex-basis: 60%;
}

.basis-xl {
  flex-basis: 80%;
}

.flex-sub {
  flex: 1;
}

.flex-twice {
  flex: 2;
}

.flex-treble {
  flex: 3;
}

.flex-direction {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.number {
  font-family: Arial !important;
}

.poa {
  position: absolute;
}

.por {
  position: relative;
  font-weight: normal;
}

.normal-bg {
  background: #e2e2e2 !important;
}

.hide {
  display: none !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.w-inline {
  display: inline !important;
}

.m-auto {
  margin: 0 auto;
}

.w-full {
  width: 100% !important;
}

.w-60 {
  width: 60px !important;
}

.w-80 {
  width: 80px !important;
}

.w-100 {
  width: 100px !important;
}

.w-200 {
  width: 200px !important;
}

.lh-mini {
  line-height: 1.5em !important;
}

.lh-default {
  line-height: 1.8em !important;
}

.box-hidden {
  overflow: hidden;
}

.m-n {
  margin: 0 !important;
}

.ml-n {
  margin-left: 0 !important;
}

.mt-n {
  margin-top: 0 !important;
}

.mb-n {
  margin-bottom: 0 !important;
}

.mr-n {
  margin-right: 0 !important;
}

.mt-xs {
  margin-top: 5px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 15px !important;
}

.mt-lg {
  margin-top: 20px !important;
}

.mt-xl {
  margin-top: 30px !important;
}

.mb-xs {
  margin-bottom: 5px !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 15px !important;
}

.mb-lg {
  margin-bottom: 20px !important;
}

.mb-xl {
  margin-bottom: 30px !important;
}

.mr-xs {
  margin-right: 5px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.mr-md {
  margin-right: 15px !important;
}

.mr-lg {
  margin-right: 20px !important;
}

.mr-xl {
  margin-right: 30px !important;
}

.ml-xs {
  margin-left: 5px !important;
}

.ml-sm {
  margin-left: 10px !important;
}

.ml-md {
  margin-left: 15px !important;
}

.ml-lg {
  margin-left: 20px !important;
}

.ml-xl {
  margin-left: 30px !important;
}

.p-n {
  padding: 0 !important;
}

.pl-n {
  padding-left: 0 !important;
}

.pr-n {
  padding-right: 0 !important;
}

.p-xs {
  padding: 5px !important;
}

.p-sm {
  padding: 10px !important;
}

.p-md {
  padding: 15px !important;
}

.p-lg {
  padding: 20px !important;
}

.p-xl {
  padding: 30px !important;
}

.m-xs {
  margin: 5px !important;
}

.m-sm {
  margin: 10px !important;
}

.m-md {
  margin: 15px !important;
}

.m-lg {
  margin: 20px !important;
}

.m-xl {
  margin: 30px !important;
}

.space-xs {
  margin: 5px 0 !important;
}

.space-sm {
  margin: 10px 0 !important;
}

.space-md {
  margin: 15px 0 !important;
}

.space-lg {
  margin: 20px 0 !important;
}

.space-xl {
  margin: 30px 0 !important;
}

.fwn {
  font-weight: normal !important;
}

.bold {
  font-weight: bold;
}

.fsn {
  font-style: normal !important;
}

.f12 {
  font-size: 12px !important;
}

.f13 {
  font-size: 13px !important;
}

.f14 {
  font-size: 14px !important;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f18 {
  font-size: 18px !important;
}

.f20 {
  font-size: 20px !important;
}

.f24 {
  font-size: 24px !important;
}

.f26 {
  font-size: 26px !important;
}

.f30 {
  font-size: 30px !important;
}

.f36 {
  font-size: 36px !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.text-hide {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.text-hide.two-line {
  -webkit-line-clamp: 2;
}

.text-hide.three-line {
  -webkit-line-clamp: 3;
}

.text-nowrap {
  white-space: nowrap;
}

.grey-link {
  color: #3f464b !important;
}

.grey-link:hover {
  color: #000 !important;
}

.black-link {
  color: #000;
}

.black-link:hover {
  color: $purple;
}

.text-white {
  color: #fff !important;
}

.text-default {
  color: #333 !important;
}

.text-info {
  color: #666 !important;
}

.text-muted {
  color: #999 !important;
}

.text-primary {
  color: #09adba !important;
}

.no-content {
  padding: 30px;
  background: #fff;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.white-wrap {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(137, 157, 197, 0.1);
}

.header-warp {
  background: #fff;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  width: 66px;
  height: 66px;
  background: #fff;
}

.header .nav {
  display: flex;
}

.header .nav .item {
  color: #fff;
  padding-left: 50px;
}

.header .main-nav {
  height: 66px;
  flex: 1;
}
.header .main-nav .item a,
.header-warp .nav .item {
  color: #7e7f81 !important;
}
.header-warp .nav .item:hover {
  color: #09adba !important;
}
.footer-hd {
  background: #222222;
  color: #fff;
}
.footer-hd .footer {
  height: 180px;
}
.footer-bd {
  background: #1e1e1e;
}
.copyright {
  font-size: 14px;
  color: #888c8e;
  text-align: center;
  line-height: 50px;
}
.footer .logo {
  width: 60px;
  height: 60px;
}
.footer .ft-right {
  display: flex;
}
.footer .ft-right .menu {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
}
.footer .ft-right .menu.wx {
  background: url('../img/wx_default.png');
  background-size: contain;
}
.footer .ft-right .menu.wx:hover {
  background: url('../img/wx_active.png');
  background-size: contain;
}
.footer .ft-right .menu.wb {
  background: url('../img/weibo_default.png');
  background-size: contain;
}
.footer .ft-right .menu.wb:hover {
  background: url('../img/weibo_active.png');
  background-size: contain;
}
.footer .ft-right .menu.sj {
  background: url('../img/phone_default.png');
  background-size: contain;
}
.footer .ft-right .menu.sj:hover {
  background: url('../img/phone_active.png');
  background-size: contain;
}
.footer .ft-right .menu.yx {
  background: url('../img/email_default.png');
  background-size: contain;
}
.footer .ft-right .menu.yx:hover {
  background: url('../img/email_active.png');
  background-size: contain;
}

.goods-panel {
  padding: 0 30px;
  background: #fff;
  margin: 20px auto;
}

.goods-panel .title {
  color: #343434;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.goods-panel .body {
  display: flex;
  flex-wrap: wrap;
  margin-right: -33px;
}

.goods-panel .body .good-item {
  width: 260px;
  margin-bottom: 30px;
  margin-right: 33px;
}

.good-item .cover,
.good-item .cover img {
  width: 100%;
  height: 160px;
  transition: all 0.4s;
}

.good-item .cover:hover img {
  transform: scale(1.05);
}

.good-item .name {
  color: #222222;
  margin: 8px 0;
}
.good-item .name .two-line {
  height: 40px;
}
.good-item .price {
  font-weight: bold;
  color: #09adba;
}
.good-item .price small {
  font-size: 12px;
  display: inline-block;
  padding-right: 2px;
}

.good-item .tag {
  font-size: 12px;
  color: #a9a9b0;
  padding: 0 3px;
  border-radius: 2px;
  background: #f3f5f7;
  white-space: nowrap;
  height: 20px;
}

.goods-panel .body.five {
  margin-right: -35px;
}

.goods-panel .body.five .good-item {
  width: 200px;
  margin-bottom: 30px;
  margin-right: 35px;
}
.goods-panel .body.five .good-item .cover,
.goods-panel .body.five .good-item .cover img {
  height: 140px;
}
.star-group {
  display: flex;
}
.star-group .label {
  font-size: 12px;
  color: #a9a9b0;
  padding-left: 10px;
}
.star-group .item {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background: url('../img/star_gray.png');
  background-size: contain;
}
.star-group .item.active {
  width: 16px;
  height: 16px;
  background: url('../img/star.png');
  background-size: contain;
}

.main-nav {
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
}

.main-nav .item {
  flex: 1;
  text-align: center;
}

.main-nav .active a {
  position: relative;
  color: #09adba;
  font-weight: bold;
}
.main-nav .item a:hover {
  color: #09adba !important;
}
.main-nav .active a::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: #09adba;
}
